* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: Inter, system-ui, -apple-system, sans-serif;
  background: var(--bg);
  color: var(--text);

  max-width: 100%;
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
  background: var(--bg);
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  line-height: 2.05;
  font-size: clamp(16px, 1.2vw, 20px);
}
